<div class="about">
	<section class="section-1 flex">
		<div class="bg-img main-bg"></div>
		<div class="section-inner">
			<h1>{{vm.currentText.section_1.title}}</h1>
			<div class="undp">
				<img src="../assets/img/author.png" alt="undp">
				<span>UNDP</span>
				<a href="http://www.kz.undp.org">| http://www.kz.undp.org</a>
			</div>
		</div>
	</section>
	<section class="section-2 flex jc-sb ai-c">
		<img src="../assets/img/earth.png" alt="earth">
		<div class="descr">
			<h3>{{vm.currentText.section_2.title}}</h3>
			<p>{{vm.currentText.section_2.text}}</p>
			<button ng-click="vm.isShowVideo=true" class="button">{{vm.currentText.section_2.watch}}</button>
		</div>
	</section>
	<section class="section-3 flex">
		<div class="descr">
			<h3>{{vm.currentText.section_3.title}}</h3>
			<p ng-repeat="paragraph in vm.currentText.section_3.text">{{paragraph}}</p>
		</div>
		<div class="bg-img"></div>
	</section>
	<section class="section-4">
		<div class="descr">
			<h3>{{vm.currentText.section_4.title}}</h3>
			<p>{{vm.currentText.section_4.text}}</p>
		</div>
		<img src="../assets/img/colorful.png" alt="colors">
	</section>
	<section class="section-3 flex flex-reverse">
		<div class="descr">
			<h3>{{vm.currentText.section_5.title}}</h3>
			<p ng-repeat="paragraph in vm.currentText.section_5.text">{{paragraph}}</p>
		</div>
		<div class="bg-img"></div>
	</section>

	<div ng-if="vm.isShowVideo" class="bg-black flex flex-center">
		<div  class="modal-content">
			<div class="flex">
				<span ng-click="vm.isShowVideo=false" class="close">&times;</span>
			</div>
			<iframe width="620" height="415"
			src="https://www.youtube.com/embed/vQx6-o2rFK8">
		</iframe> 
	</div>

</div>
