<div class="articles" id="anchor">
	<div class="container">
		<div class="row">
		<a ui-sref="glavnaya" class="back" >Назад</a>
			<div ui-sref="articleInfo({_id:article._id})" ng-repeat="article in vm.articles" class="article">
				<h2>{{article.name}}</h2>
				<p>{{article.description | limitTo:190}} ... <a ui-sref="articleInfo({_id:article._id})">Читать далее</a></p>

				<div ng-if="vm.isAdmin" class="adminButtons" >
					<button  class="btn-danger btn" ng-click="vm.remove($event,$index,article)">Удалить</button>
					<button  class="btn-primary btn" ng-click="vm.update($event,article)">Редактировать</button>
				</div>
			</div>
		</div>
	</div>	
</div>

