.article{
	background-color: #fcfcfc;
	padding: 30px;
	-webkit-box-shadow: 18px 11px 30px -6px #999;
	-moz-box-shadow: 18px 11px 30px -6px #999;
	box-shadow: 18px 11px 30px -6px #999;
	cursor: pointer;
	margin-top: 30px;
}

.article h2{
	font-size: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

.article h2:after{
	content: "";
	display: block;
	margin-top: 10px;
	background-color: #999;
	width: 50px;
	height: 3px;
}

.articles .adminButtons{
	margin-top: 20px;
}
