<div class="glavnaya">
	<section class="section-1">
		<div class="main-background bg-img"></div>
		<div class="section-inner">
			<div class="line-2 flex-column">
				<img src="../assets/img/baiterek.png" alt="" class="baiterek">
				<h1>{{vm.currentText.section_1.kaz}}</h1>
				<h2>{{vm.currentText.section_1.welcome}}</h2>
				<button ng-click="vm.isShowVideo=!vm.isShowVideo" class="wow slideOutTop button blue">{{vm.currentText.section_1.watchVideo}}</button>
			</div>
			<form class="input-container flex jc-c" ng-submit="vm.submitQuery()">
				<input type="text" ng-model="vm.query" class="input" placeholder="{{vm.currentText.section_1.search}}">
			</form>
		</div>
	</section>
	<div class="bg-img long-bg">
		<section class="section-2">
			<p><span>{{vm.currentText.section_2.popularSearchTitle}}</span>{{vm.currentText.section_2.popularSearchText}}</p>
			<div  class="cards flex flex-center">
				<div ng-repeat="(label, sectNumber) in vm.scrollCards" ng-click="vm.goToSection(sectNumber)" ng-class="{'blue':sectNumber==vm.selectedSection}" class="card">
					<div class="inner flex-column">
						<img src="../assets/img/{{sectNumber==vm.selectedSection?label+'_selected':label}}.png" alt="news">
						<h4>{{vm.currentText.section_2[label+"Title"]}}</h4>
						<p>{{vm.currentText.section_2[label+"Text"]}}</p>
					</div>
				</div>
			</div>
		</section>
		<section class="section-3" id="section-3">
			<h3 class="title">{{vm.currentText.section_3.title}}</h3>
			<div class="cards flex jc-sa">
				<div class="card">
					<div class="bg-img"></div>
					<div class="description">
						<h4 class="title">{{vm.currentText.section_3.descriptionTitle}}</h4>
						<span class="text">{{vm.currentText.section_3.descriptionText}}</span>
						<a href="">{{vm.currentText.readMore}} >></a>
					</div>
				</div>
				<div class="card">
					<div class="bg-img"></div>
					<div class="description">
						<h4 class="title">{{vm.currentText.section_3.descriptionTitle}}</h4>
						<span class="text">{{vm.currentText.section_3.descriptionText}}</span>
						<a href="">{{vm.currentText.readMore}} >></a>
					</div>
				</div>
			</div>
		</section>
		<section class="section-4" id="section-4">
			<div class="bg-img"></div>
			<div class="section-inner flex jc-sb ai-c">
				<img src="../assets/img/map_siluet.png" alt="kz map">
				<div class="description">
					<h4 class="title">{{vm.currentText.section_4.descriptionTitle.first}}</h4>
					<p class="text">{{vm.currentText.section_4.descriptionText.first}}</p>
					<h4 class="title">{{vm.currentText.section_4.descriptionTitle.second}}</h4>
					<p class="text">{{vm.currentText.section_4.descriptionText.second}}</p>
				</div>
			</div>
			<button class="button">{{vm.currentText.readMore}}</button>
		</section>
		<section class="section-5" id="section-5">
			<h3 class="title">{{vm.currentText.section_5.title}}</h3>
			<div class="section-inner flex jc-sa">
				<div class="description">
					<i>{{vm.currentText.section_5.quote}}</i>
					<p>{{vm.currentText.section_5.quoteBy}}</p>
					<button class="button blue">{{vm.currentText.readMore}}</button>
				</div>
				<img src="../assets/img/nurik.png" alt="kz map">
			</div>
		</section>
		<section class="section-6" id="section-6">
			<h3 class="title">{{vm.currentText.section_6.title}}</h3>
			<p class="text">{{vm.currentText.section_6.text}}</p>
			<div class="section-innner flex ai-c jc-sb">
				<div class="card">
					<h4>{{vm.currentText.section_6.card.title}}</h4>
					<p>
						{{vm.currentText.section_6.card.text}}
					</p>
					<div class="corner"></div>
				</div>
				<div class="bg-img"></div>
			</div>
		</section>
		<section class="section-7" id="section-7">
			<h3 class="title">{{vm.currentText.section_7.title}}</h3>
			<p class="text">{{vm.currentText.section_7.text}}</p>
			<div class="slider" id="container">
				<ul>
					<li>
						<img src="../assets/img/expo/expo3.jpg" alt="" />
					</li>
					<li>
						<img src="../assets/img/expo/expo5.jpg" alt="" />
					</li>
					<li>
						<img src="../assets/img/expo/expo1.jpg" alt="" />
					</li>
					<li>
						<img src="../assets/img/expo/expo4.jpg" alt="" />
					</li>
					<li>
						<img src="../assets/img/expo/expo2.jpg" alt="" />
					</li>
					<img src="../assets/img/Arrow-left.png" class="left">
					<img src="../assets/img/Arrow-right.png" class="right">
				</ul>
			</div>

		</section>
	</div>

	<div ng-if="vm.isShowVideo" class="bg-black flex flex-center">
		<div  class="modal-content">
			<div class="flex">
				<span ng-click="vm.isShowVideo=false" class="close">&times;</span>
			</div>
			<iframe width="620" height="415"
			src="https://www.youtube.com/embed/vQx6-o2rFK8">
		</iframe> 
	</div>


</div>
</div>

