<div id="anchor">
	<div class="container">
		<div class="row">
			<form class="form-horizontal">

				<div ng-if="!vm.id" class="form-group">
					<label class="control-label col-sm-2" for="email">Категория:</label>
					<button class="btn btn-default" bs-dropdown>{{vm.currentCategory.name?vm.currentCategory.name:'Выберите категорию'}}</button>	
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="category in vm.categories" ng-click="vm.categorySelected(category)">{{category.name}}</li>
					</ul>
				</div> 
				<div ng-show="vm.showSubCat" class="form-group">
					<label class="control-label col-sm-2" for="email">Подкатегория:</label>
					<button class="btn btn-default" bs-dropdown>{{vm.currentSubCategory.name?vm.currentSubCategory.name:'Выберите подкатегорию'}}</button>	
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="subcategory in vm.subcategories" ng-click="vm.currentSubCategory=subcategory">{{subcategory.name}}</li>
					</ul>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Название продукта:</label>
					<div class="col-sm-10">
						<input type="text" ng-model="vm.product.name" class="form-control" id="email">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Описание продукта:</label>
					<div class="col-sm-10">
						<text-angular type="text" rows="13" ng-model="vm.product.description" class="form-control text-angular" id="email">
						</text-angular>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Изображение</label>
					<div class="col-sm-10">
						<button ng-if="!vm.id" class="btn btn-default" ngf-select ng-model="vm.file" name="file" ngf-multiple="true" ngf-pattern="'image/*'">{{vm.file?vm.file.length+' картинок выбрано':'Выберите изображение'}}</button>
						<button ng-if="vm.id" class="btn btn-default" ngf-select ng-model="vm.file" name="file" ngf-multiple="true" ngf-pattern="'image/*'">{{vm.file?vm.file.length+' картинок выбрано':'+ Добавить изображение'}}</button>

					</div>
				</div>
				<div ng-if="vm.id" class="form-group">
					<label class="control-label col-sm-2" for="email"></label>
					<div class="col-sm-10">
						<div ng-repeat="img in vm.product.images" class="image" >
							<img ng-click="vm.makeMain($index,img)" src="../assets/img/products/{{img}}" alt="amabilis {{vm.product.name}}">
							<span ng-click="vm.removeImg($index,img)" class="remove_img">&times;</span>
						</div>					
					</div>
				</div>
				<div class="form-group"> 
					<div class="col-sm-offset-2 col-sm-4">
						<p class="error" ng-show="vm.showErr">Заполните все поля</p>
						<button ng-click="vm.create()" class="btn btn-success" ng-if="!vm.id"   type="submit" class="btn btn-default">Создать</button>
						<button ng-click="vm.update()" class="btn btn-success" ng-if="vm.id"   type="submit" class="btn btn-default">Внести изменения</button>
						<button ng-click="vm.clear()" ng-show="vm.showCreated&&!vm.id" type="submit" class="btn btn-default">Добавить еще товар</button>
						<p ng-show="vm.showCreated&&!vm.id" class="success">Товар успешно добавлен !</p>
						<p ng-show="vm.showCreated&&vm.id" class="success">Товар успешно изменен !</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<style>

	.image{
		width: 150px;
		height: 150px;
		margin-right: 15px;
		position: relative;
		display: inline-block;

	}

	.image img{
		width: 100%;
		height:100%
	}

	.remove_img{
		cursor: pointer;
		position: absolute;
		padding:0px 5px 1px 5px;
		border-radius: 100%;
		border: 1px solid red;	
		color: red;
		text-align: center;
		top: -7px;
		right: -7px;
		background-color: #fff
	}

	.btn{
		margin: 7px;
		margin-left: 0;
	}
	
	.btn-toolbar{
		display: none;
	}

	.text-angular{
		height: 400px;

	}

	.ta-scroll-window.form-control{
		overflow: auto;
		height: 350px;
	}
</style>