<div class="showProducts">
	
	<div class="left-side">
		<a class="back" ui-sref="glavnaya">На Главную</a>
		<div class="sidebar">
			<img class="ornament" src="../assets/img/ornament.png" alt="">
			<div class="categories">
				<div ng-click="vm.clickCategory(category)" class="category" ng-repeat="category in vm.categories" ng-class="{'active-category':(vm.category_id==category._id)}" >
					<span class="category-name" > <i class="dot">&bull;</i>	 {{category.name}}</span>
					<i  ng-if="category.children.length>0" class="fa fa-chevron-circle-down"></i>
					<div ng-class="{'active-line':(vm.category_id==category._id)}" class="line"></div>
					<div  class="subcategories">
						<div class="subcategory" ng-class="{'active-category':vm.category_id==subcategory._id}"  ng-show="vm.selected==category._id||vm.category_id==subcategory._id" ng-repeat="subcategory in category.children">
							<a ui-sref="showProducts({category_id:subcategory._id})"><i class="dot">&bull;</i> {{subcategory.name}}</a>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>

	<h2 ng-if="(vm.showErr.length>0)" class="products-list">{{vm.showErr}}</h2>

	<div ng-if="!(vm.showErr.length>0)" class="products-list">
		<div ng-hide="vm.loaded" class="text-center">
			<h2>Загрузка ...</h2>
			<br>
			<img  class="col-xs-2 col-xs-offset-5" src="../assets/img/loader.gif"  alt="loader">
		</div>
		<div ng-show="vm.loaded" ui-sref='productInfo({id:product._id})' class="product col-xs-3" ng-repeat="product in vm.products">
			<div class="inner">
				<img class="ornament" src="../assets/img/ornament2.png" alt="">

				<div class="adminButtons" ng-if="vm.isAdmin">
					<button ng-click="vm.update($event,product)" class="btn btn-sm btn-primary">Редактировать</button>
					<button ng-click="vm.remove($event,product)" class="btn btn-sm btn-danger">Удалить</button>
				</div>
				<img ng-src="../assets/img/products/{{product.images[0]}}" alt="amabilis {{product.name}}">
				<h2>{{product.name}}</h2>				
			</div>		
		</div>
	</div>
	
</div>
