.showProducts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
}

.product {
}
	
.product .inner{
		background-color: #fff;
		border: 1px solid #901414;
		border-radius: 2px;	
		transition: .5s;
		height: 320px;
		position: relative;	
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
}	


.product .inner:hover{
	-webkit-box-shadow: 18px 11px 30px -6px #999;
	-moz-box-shadow: 18px 11px 30px -6px #999;
	box-shadow: 18px 11px 30px -6px #999;
	transform: scale(1.05);
	z-index: 10;
}

.product .inner:hover h2{
	text-decoration: underline;
}

.showProducts .product{
	padding: 7px;
	padding-top: 0;
	cursor: pointer;
}


.showProducts .product img{
	width: 80%;
	height: 200px;
	margin: 0 auto;
	padding: 10px;
}

.showProducts .product h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	word-break:break-all;
	margin-top: 30px;
}

.showProducts .adminButtons{
	margin: 15px;
	position: absolute;
	top: -4%;
}

.showProducts .inner .ornament{
	position: absolute;
	height: 50px;
	top: 200px;
	width: 100%;
}

.showProducts .left-side{
	margin-right: 5%;
}

.showProducts .products-list{
	width: 75%;
}

.showProducts .left-side .back{
	position: absolute;
	top: 100px;
	left: 50px;
}

.showProducts .sidebar{
	width:100%;
	margin-left: 39px;

}

.active-category{
font-weight: bold;
}
.active-line{
width: 50px;}