[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

/* -------------------    RESET.CSS ----------------------------*/

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html{
  min-width: 1100px;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------    RESET.CSS END----------------------------*/
@font-face {
 font-family: "Clear Sans";
 src: url("../assets/fonts/clearsans-1.00/TTF/ClearSans-Regular.ttf")
}

body{
  font-family: 'Clear Sans', sans-serif;
}

.flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.flex-column{
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.jc-c{
  justify-content: center;
}

.jc-sa{
  justify-content: space-around;
}

.jc-sb{
  justify-content: space-between;
}

.flex-center{
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.ai-c{
  -ms-align-items: center;
  align-items: center;
}


.title{
  font-size: 40px;
  color: #fff;
  text-align: center;
}

.button{
  padding: 15px 30px;
  text-transform: uppercase;
  color: #fff;
  border:none;
  border-radius: 100px;
  letter-spacing: 2px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.input{
  border:none;
  background-color: #fff;
  border-radius: 100px;
  padding: 10px 20px;
  padding-left: 50px;
  width: 50%;
  margin: 0 auto;
  background-image: url('../assets/img/search_icon.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 10px center;
  box-shadow: 0 0px 50px 1px #999;
  height: 50px;
  outline: none;
}

.blue{
  background: #2387f6;
  color: #fff;
}


@media (min-width: 768px){
  .container {
    min-width: 1000px;
  }
}
